*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: hsl(226, 43%, 10%);
  font-family: sans-serif;
}
.dashBoard-section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.dashBoard-container{
  display: grid;
  max-width: 1000px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 220px);
  gap: 20px;
  margin: 40px 20px;
}
.cards{
  color: white;
  border-radius: 12px;
  /* min-width: 250px; */
}
.profile{
  grid-column: 1 / 2;
  grid-row: 1/ 3;
  display: flex;
  flex-direction: column;
  background-color:  hsl(235, 46%, 20%);
}
.profile .profile-name{
  background-color:  hsl(246, 80%, 60%);
  padding: 30px 20px 50px;
  border-radius: 12px;
  height: 308px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.profile .profile-name img{
  width: 64px;
  border: 1px solid white;
  border-radius: 50%;
}
.profile .profile-name p{
  font-size: 12px;
  color: hsl(236, 100%, 87%);
}
.profile .profile-name span{
  font-size: 38px;
  display: block;
  color: white;
}
.profile-basis{
  height: 132px;
  display: flex;
  flex-direction: column;
  padding: 25px 20px 20px;
  gap: 1rem;
}
.profile-basis p{
  color: hsl(235, 45%, 61%);
  cursor: pointer;
  transition: 0.2s ease-in;
}
.profile-basis p:hover{
  color: white;
}
.profile-basis p.onState{
  color: white;
}
.stats{
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}
.stats-icon{
  flex: 20%;
  display: flex;
  justify-content: end;
  align-items: center;
  border-radius: 12px
}
.stats-description{
  flex: 80%;
  border-radius: 12px;
  background-color:  hsl(235, 46%, 20%);
  padding: 30px;
  transition: 0.2s ease-in-out;
}
.stats-description:hover{
  background-color: hsl(235, 45%, 61%);
}
.descript-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 16px;
}
.descript-1 img{
  cursor: pointer;
}
.descript-2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.descript-2 .stats_one{
  font-size: 3.5em;
}
.descript-2 .stats_two{
  font-size: 12px;
  color: hsl(236, 100%, 87%);
  letter-spacing: 1px;
}
.work{
  background-color: hsl(15, 100%, 70%);
}
.work .stats-icon{
  background-image: url(/images/icon-work.svg);
  background-repeat: no-repeat;
  background-position: 90% -10px;
}
.play{
  background-color: hsl(195, 74%, 62%);
}
.play .stats-icon{
  background-image: url(/images/icon-play.svg);
  background-repeat: no-repeat;
  background-position: 90%  -10px;
} 
.study{
  background-color: hsl(348, 100%, 68%);
}
.study .stats-icon{
  background-image: url(images/icon-study.svg);
  background-repeat: no-repeat;
  background-position: 90% -10px;
}
.exercise{
  background-color: hsl(145, 58%, 55%);
}
.exercise .stats-icon{
  background-image: url(images/icon-exercise.svg);
  background-repeat: no-repeat;
  background-position: 90%  -2px;
}
.social{
  background-color: hsl(264, 64%, 52%);
}
.social .stats-icon{
  background-image: url(images/icon-social.svg);
  background-repeat: no-repeat;
  background-position: 90%  -16px;
}
.self-care{
  background-color: hsl(43, 84%, 65%);
}
.self-care .stats-icon{
  background-image: url(images/icon-self-care.svg);
  background-repeat: no-repeat;
  background-position: 90%  -10px;
}

@media (max-width: 768px){
  .dashBoard-section{
    height: auto;
  }
  .dashBoard-container{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 220px);
    /* padding: 40px 20px; */
  }
  /* .cards{
    min-width: 100px;
  } */
  .profile{
    grid-column: 1 / 2;
    grid-row: 1/ 1;
  }
  .profile .profile-name{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    height: 154px;
  }
  .profile-basis{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 66px;
  }
  .descript-2 {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
  }
  .descript-2 .stats_one{
    font-size: 2.5em;
  }
}
.attribution{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
